---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propo | Maxime Petitjean" description="A propos de Maxime Petitjean">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A Propos"
				tagline="Merci de prendre le temps de vous arrêter. Lisez la suite pour en apprendre plus sur moi."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait-chat.jpg"
					alt="Maxime Petitjean et son chat"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Origine</h2>
				<div class="content">
					<p>
						Je viens d'une petite ville où j'ai passé beaucoup de temps à pratiquer des sports. J'ai été
						passionné par le sport dès mon plus jeune âge, ainsi que par les films. Pour pouvoir en 
						regarder toujours plus, j'ai commencé à m'intéresser aux technologies qui les entourent.
						Que ce soit au niveau du matériel, avec mon premier ordinateur, ou du logiciel, en explorant
						des modèles P2P et des protocoles de streaming, j'ai saisi chaque opportunité pour découvrir
						ces technologies. 
					</p>
					<p>
						À l'époque, l'informatique n'était pas aussi accessible qu'aujourd'hui, ce qui a probablement
						contribué à la maintenir comme une passion pour moi. Après le lycée, j'ai cherché pendant un
						certain temps un métier qui me plairait, et j'ai finalement décidé de poursuivre mes études
						en école d'ingénieur pour approfondir mes connaissances dans ce domaine.
					</p>
					<p>
						Depuis, j'ai trouvé ma voie et ma passion pour l'informatique me permet de m'épanouir chaque
						jour. J'aime ce que je fais et j'ai une soif d'apprendre constante. Je suis toujours ébahi
						par la créativité et le génie des femmes et des hommes sur terre, et j'ai hâte de continuer
						à découvrir et à apprendre encore plus.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Enseignement</h2>
				<div class="content">
					<p>Ecole d'ingénieur <strong>POLYTECH ANGERS</strong>, Angers, France. Option <strong>Cybersécurité</strong></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Pour en apprendre plus sur mes compétences, contactez moi !</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
